port: ":9000"

db:
  # name: "local_db"
  name: "docker_db"

token:
  signing_key: "qrkjk#4#%35FSFJlja#4353KSFjH"
  access_token_ttl: 720

local_db:
  username: "postgres"
  password: "1234"
  host: "localhost"
  port: "5432"
  dbname: "postgres"
  sslmode: "disable"
  path: "C://Program Files/PostgreSQL/12/bin/psql.exe"

docker_db:
  username: "postgres"
  password: "1234"
  host: "db"
  port: "5432"
  dbname: "postgres"
  sslmode: "disable"
